
//header area//
.header_area{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  //header top//
.top_bar {
  background: #0d2d3e;
  .left {
      .fs-12 {
          margin-right: 25px;
          font-family: "Roboto", sans-serif;
      }
      i {
          margin-right: 8px;
          color: #e94d65;
      }
  }
}
//sub header//
.bottom_bar {
  width: 100%;
  z-index: 1000;
      .navbar-nav a {
          .navbar_brand {
              background: #0d2d3e;
          }
      }
    
  }
}
//main bg//
.img {
    //img css
    background-image: url("../images/h1_hero.jpg");
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    .button {
        //button1 css
        position: absolute;
        top: 50%;
        .arrow1 {
            color: #a6b4bb;
        }
        .btn-white-border {
            background-color: transparent;
            border: 1px solid #a6b4bb;

        }
        .btn-white-border:hover {
            border: 1px solid #0d2d3e ;
            color: #0d2d3e;
        }
    }
  
    .button2 {
        //button2 css
        @extend .button;
        right: 0%;
        .arrow2 {
            color: #0d2d3e;
        }
        .btn-blue-border {
            border: 1px solid #0d2d3e;
        }
       
       
    }
  //container content//
    .contitle {
        position: absolute;
        top: 33%;
       margin-left: 93px;
        .innerh1 {
            font-family: "Sarabun", sans-serif;
            font-size: 85px;
            line-height: 1.2;
            font-weight: 800;
        }

        .inner {
            font-size: 16px;
        }

    }
}
.dash_line {// span class code
    font-family: "Roboto", sans-serif;
    color: #eb566c;
    padding-left: 20px;
}
.dash_line:before {
    content: "";
    width: 45px;
    height: 2px;
    background: #eb566c;
    position: absolute;
    left: 0;
    top: 50%;
}
//page1 end
.btn-14 {// readmore button
    position: relative; 
    background:#ff2143;
    border: none;
    z-index: 1;
    color: #fff;  
    width: 238px;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    width: 100%;
  }
  .serh1{//everypage title
    font-size: 50px;
    display: block;
    color: #092c3f;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
}
  //page2
  .page2{
    background-color:   #f7f7f7;
    height: 1000px;
    padding-top: 195px;
    padding-bottom: 170px;
    .card {
        z-index: 2;
        padding: 30px 22px;
      }
      .cat-cap{
        .p{
          color: #57667e;
        }
        .p:hover{
          color: white;
        }
      }
      .card:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;  
        left: 0;
        z-index: -1;
        background-color:#eb566c;
        transition: height 0.5s ease;
      }
      .card:hover {
        color: white;
        transform: scale(1.05);  
    }
      .card:hover:after {
        height: 100%;
      } 
      .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 54px;
      }
    
      .icon{
        width:27%;
        height:50%;
        display: flex;
        justify-content: center;
      }
      .text-center:hover{
        color: white;
      }
    
      
 

}//page2 end

  //page3 our top services//
  .img2{//background image of page 3
    background-image: url("../images/section_bg02.jpg.webp");
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    @extend .img;
    
    .pb-100{
      padding-bottom: 100px;
    }
    .fc-4{ //span color
        color: #cecece;
    }
    .dash_line:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
    width: 40px;
    height: 2px;
      background-color:#cecece; 
      
   }
    .phead {
        font-size: 50px;
        width: 500px;
  }
}
//featured case study page
.page3{
    padding-top: 195px;
    padding-bottom: 100px;
    .caption{
        background-color: #fff;
        width:70%;
        margin-top: -50px;
        margin-bottom: 92px;
      }
   

}
 //page5 counter page
 .imgbg3{
    @extend .img2;
    background-image: url("../images/section_bg04.jpg.webp");
    height: 65vh;
    padding-bottom: 200px;
 }

 .countarea
 {
  margin-top: -60px;
  padding-bottom: 120px;

   .single-counter {
  background: #fff;
  padding: 44px 10px 44px 9px;
  border: 1px solid #cfcfcf;
  margin-bottom: 30px;
 
  span {
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    display: block;
}
p{
   
    font-size: 18px;
    color: #737980;
    line-height: 1;
    margin: 0;
    padding: 0;

}

}
.single-counter.activecol {
  background: #ff2143;
  border: 10px solid #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
 }


//page6 team members page//
.single-team{
    margin: 30px;
    .team-img {
      overflow:hidden;
      width: 100%;
      height: 100%;
      transition: transform 0.2s ease;
      img{
        width: 100%;
        transform: scale(1);
        transition: all 0.6s ease-out 0s;
      }
    }
    .team-img:hover img {
        transform: scale(1.2);}
    }
      .team-caption{
        padding: 20px 20px 20px 50px;
        h3{
          font-family: "Roboto", sans-serif;
        color: #092c3f;
        margin-top: 0px;
        font-style: normal;
        font-weight: 700;
        }
        .dash_line:before{
            content: "";
            background: #eb566c;
            position: absolute;
            left: 0;
            top: 50%;
        width: 40px;
        height: 2px;
        }
      }
//page7  first class consultant page//
      .img4{
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("../images/section_bg03.jpg.webp");
        .btn-14{
            background-color: #000;
            width: 111%;
        }
       
        h2 {
          color: #fff;
          font-size: 48px;
          font-weight: 600;
          line-height: 1.5;
          margin: 0;
        }
    }
    .firstclasstxt{
      line-height: 1.5;
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      margin: 0;
    }
  
  //page7 our recent blog//
    .page3{
    background-color:   #f7f7f7;
    .blog-single{
        
        margin-bottom: 30px;
        transition: all 0.4s ease-out 0s;
        .blog-img{
          overflow: hidden;
          position: relative;
         
          .image_blog{
            img{
              width: 100%;
              
              transition: all 0.6s ease-out 0s;
            }
            
            ul{
              position: absolute;
              width: 75%;
              right: 31%;
              bottom: 38%;
              li{
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                color: #011548;
                padding: 20px 30px 20px 84px;
                background: #f7f7f7;
              }
            }
          }
          @media (min-width: 768px) {
          .image_blog{
            ul{
              width: 78%;
              right: 32%;
              bottom: 51%;
            
              li{
                padding: 20px;
              }
            }
          }
        }
        @media (min-width: 1024px) and (max-width: 1024px)  {
          .image_blog{
            ul{
              width: 76%;
              right: 31%;
              bottom: 42%;
          }
            
              li{
                padding: 20px;
              }
            }
          }
          @media (min-width: 1440px) and (max-width: 2560px)  {
            .image_blog{
              ul{
                
    width: 75%;
    right: 31%;
    bottom: 38%;
            }
              
                li{
                  padding: 20px;
                }
              }
            }
           
          .team-img:hover img {
        transform: scale(1.2);}
          .blog_footer{
            background: #fff;
            padding: 30px 86px 36px 81px;
          
            h3{
              font-family: "Roboto", sans-serif;
              color: #092c3f;
              margin-top: 0px;
              font-style: normal;
              font-weight: 500;
            }
            p{
              color: #737980;
              font-size: 16px;
              margin-bottom: 30px;
            }
          }
          @media (min-width: 768px) and (max-width: 1024px) {
            .blog_footer {
              padding: 30px;
            }
             }
        }
    }
   
     
  }
//brands page//
      .brands{
        background-color: #f7f7f7;
        padding-bottom: 100px;
      .brand-container {
        overflow: hidden;
      
        
        .brand-scroll {
            display: flex;
            width: 200%;
            .brand-scroll img {
                width: 50%; 
                margin-right: 20px; 
             
            }
        }
    }}
   //footer section//
  .footer-section{
    background-color: #11141b;
   
      .footer-padding {
        padding-top: 143px;
        padding-bottom: 50px;

    }
    .footer-logo{
      margin-bottom:30px;
      width: 140px;
    }
.footer-caption{
  margin-bottom: 50px;
}
 .info1 {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 35px;
  color: #bdbdbd;
}
.footer-title{
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  h4{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    font-weight: 500;
  }
}
 ul li {
    color: #bdbdbd;
    margin-bottom: 15px;
}
    .footer-copy-right{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    body{
      overflow: visible;
    }
    
    img{
      width: 100%;
    }
//media queries//
       
       
    
        @media (min-width: 1221px) and (max-width: 1440px) {
          .page3 .blog-single .blog-img .image_blog ul {
            width: 78%;
            right: 28%;
            bottom: 40%;
          }
          .img2{
            .img{
              img {
                 width: auto;;
            }
            }
          }
          
        }
    
        @media (min-width: 1441px) {
          .page3 .blog-single .blog-img .image_blog ul {
            width: 78%;
            right: 28%;
            bottom: 33%;
          }
         
        }
    
        @media (min-width: 0px) and (max-width: 424px) {
          .header_area {
    
            .main_header {
              .top_bar {
                display: none;
              }
    
              .bottom_bar {
                .container {
                  max-width: 720px;
    
    
                  .navbar-nav {
                    display: none;
                  }
    
                }
              }
            }
    
          }
    
          .img {
            margin-top: 0%;
            width: 100%;
    
            height: 90vh;
    
            .container {
              max-width: 720px;
    
              .contitle {
                margin-left: 20px;
                top: 14%;
    
                .spancls {
                  h1 {
                    font-size: 40px;
    
                    .dash_line:before {
    
                      width: 27px;
                    }
                  }
    
                }
              }
            }
    
            .button {
              display: none;
            }
          }
    
          .page2 {
            height: auto;
            padding-top: 65px;
            padding-bottom: 30px;
    
            .contitle {
              margin-left: 20px;
    
              .dash_line {
                padding-left: 0px;
              }
    
              .serh1 {
                font-size: 31px;
              }
            }
          }
    
          .card2 {
            margin-top: 20px;
          }
    
          .card3 {
            margin-top: 20px;
          }
    
          .page3 {
            padding-top: 60px;
            padding-bottom: 0;
    
            .caption {
              width: 85%;
            }
    
            .serh1 {
              font-size: 30px;
              margin-bottom: 50px;
            }
          }
    
          .img2 {
            .col1{
             img{
              display: none;
             }
            }
            .phead {
              font-size: 32px;
              width: 100%;
            }
            .col2{
              width: 70%;
            }
          }
    
          .imgbg3 {
            padding-top: 120px;
            padding-bottom: 200px;
            height: auto;
    
            .consecuter {
              .buttonpg {
                display: none;
              }
            }
    
          }
    
          .img4 {
            .container {
              .row {
                padding: 0px;
              }
    
    
    
              .wantToWork {
                h2 {
                  font-size: 20px;
                }
              }
    
              .btn-14 {
                width: auto;
              }
    
            }
          }
    
          .page3 {
            .contitle {
              margin-left: 20px;
    
              .dash_line {
                padding-left: 0px;
              }
            }
    
            .blog-single {
              .blog-img {
                .image_blog {
                  ul {
                    width: 79%;
                    right: 32%;
                    bottom: 61%;
    
                    li {
                      padding: 20px;
                    }
                  }
                  .blog_footer{
                    
                    .readmore {
                     
                      padding: 20px;
                  }
                  }
                }
              }
    
            }
          }
        }
        @media (min-width: 425px) and (max-width: 767px) {
          .header_area {
    
            .main_header {
              .top_bar {
                display: none;
              }
    
              .bottom_bar {
                .container {
                  max-width: 720px;
    
    
                  .navbar-nav {
                    display: none;
                  }
    
                }
              }
            }
    
          }
    
          .img {
            margin-top: 0%;
            width: 100%;
            height: 70vh;
           
    
            .container {
              max-width: 720px;
    
              .contitle {
                margin-left: 20px;
                top: 14%;
    
                .spancls {
                  h1 {
                    font-size: 40px;
                  }
    
                }
              }
            }
    
            .button {
              display: none;
            }
          }
    
          .page2 {
            height: auto;
            padding-top: 65px;
            padding-bottom: 30px;
    
            .contitle {
              margin-left: 20px;
    
              .serh1 {
                font-size: 31px;
              }
            }
          }
    
          .card2 {
            margin-top: 20px;
          }
    
          .card3 {
            margin-top: 20px;
          }
    
          .page3 {
            padding-top: 60px;
            padding-bottom: 0;
    
            .caption {
              width: 85%;
            }
    
            .serh1 {
              font-size: 30px;
              margin-bottom: 50px;
            }
          }
    
          .img2 {
            height: auto;
            .rowflex{
              display: inline-block;
              .col1{
                display: inline;
                img{
              
                }
               }
            }
           
            .col2{
              width: 75%;
              .dash_line{
                padding: 20px;
               
              }
            }
            .phead {
              font-size: 32px;
              width: 100%;
            }
          }
    
          .imgbg3 {
            padding-top: 120px;
            padding-bottom: 200px;
            height: auto;
    
            .consecuter {
              .buttonpg {
                display: none;
              }
              
      
            }
            .countarea {.single-counter {
          
              padding: 30px;
           
          }}
          }
          
          .img4 {
            .container {
             
                padding: 0px;
              
              .wantToWork {
                h2 {
                  font-size: 20px;
                }
           
            }
              .btn-14 {
                width: auto;
              }
            }
          }
    
          .page3 {
            .contitle {
              margin-left: 20px;
            }
    
            .blog-single {
              .blog-img {
                .image_blog {
                  ul {
                    width: 78%;
                    right: 31%;
                    bottom: 51%;
                  }
    
                  li {
                    padding: 30px;
                  }
                }
                
              }
    
            }
          }
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          .header_area {
            .main_header {
              .top_bar {
                display: none;
              }
    
              .bottom_bar {
                .container {
                  max-width: 720px;
    
                  .navbar-nav {
                    display: none;
                  }
                }
              }
            }
          }
    
          .img {
            margin-top: 0px;
    
            .contitle {
              margin-left: 20px;
    
              .spancls {
                h1 {
                  font-size: 40px;
                }
              }
            }
          }
    
          .button {
            display: none;
          }
    
          .page2 {
            height: auto;
            padding-top: 101px;
            padding-bottom: 70px;
    
            .contitle {
              margin-left: 20px;
            }
    
            .single-team {
              .team-caption {
                padding: 30px;
              }
            }
          }
          .card3 {
            margin-top: 20px;
          }
    
          .page3 {
            padding-top: 95px;
            padding-bottom: 0px;
    
            .contitle {
              margin-left: 20px;
            }
    
            .caption {
              width: 85%;
            }
          }
    
          .imgbg3 {
            padding-top: 120px;
            padding-bottom: 200px;
            height: auto;
    
          }
          .img4 {
            .container {
              .wantToWork {
                h2 {
                  font-size: 30px;
                }
              }
            }
          }
        }

        @media (min-width: 1024px) and (max-width: 1220px) {
          .img {
            .buton {
              margin: 0px;
            }
    
            .contitle {
              top: 25%;
              margin-left: 193px;
    
              .spancls {
                h1 {
                  font-size: 40px;
                }
              }
            }
          }
          .page2 {
            padding-top: 150px;
            padding-bottom: 110px;
    
          }
    .img2{
      .img{
        max-width: 50%;
      }
    }
          .page3 {
            padding-top: 95px;
            padding-bottom: 0px;
          }
    
          .imgbg3 {
            padding-top: 120px;
            padding-bottom: 200px;
            height: auto;
    
          }
    
          .page2 {
            .team-caption {
              padding: 12px;
            }
          }
        }
    

